/.env
/.venv

# Python cache
__pycache__/
*.pyc

# Local app/runtime data
.local/

# Terraform
infra/.terraform/
infra/terraform.tfstate
infra/terraform.tfstate.backup
infra/*.tfstate
infra/*.tfstate.backup
/terraform.tfstate
# Ansible
*.retry